/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running full-size tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a full size pipeline test.

    Use as follows:
        nextflow run nf-core/rangeland -profile test_full,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

params {
    config_profile_name        = 'Full test profile'
    config_profile_description = 'Full test dataset to check pipeline function'

    // Input data
    input = 's3://ngi-igenomes/test-data/rangeland/landsat.tar'
    dem   = 's3://ngi-igenomes/test-data/rangeland/dem.tar'
    wvdb  = 's3://ngi-igenomes/test-data/rangeland/wvdb.tar'

    data_cube = 's3://ngi-igenomes/test-data/rangeland/datacube-definition.prj'
    aoi       = 's3://ngi-igenomes/test-data/rangeland/aoi.gpkg'
    endmember = 's3://ngi-igenomes/test-data/rangeland/hostert-2003.txt'


    // Remote sensing imagery parameters
    start_date = '1986-01-01'
    end_date   = '1989-12-31'

    sensors_level2 = 'LND04 LND05'

    // enable time series stack output
    return_tss = true

    // enable mosaic for result checking (required for result checking)
    mosaic_visualization  = true

    // reference data
    reference = "s3://ngi-igenomes/test-data/rangeland/reference.tar"

    validationSchemaIgnoreParams = "reference"

}

process {
    withName: "UNTAR_*" {
        ext.args2   = "--strip-components=1"
    }
    withName: "UNTAR_REF"{
        ext.args2   = "--strip-components=0"
    }
}
