/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Nextflow config file for running minimal tests
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Defines input files and everything required to run a fast and simple pipeline test.

    Use as follows:
        nextflow run nf-core/rangeland -profile test,<docker/singularity> --outdir <OUTDIR>

----------------------------------------------------------------------------------------
*/

process {
    resourceLimits = [
        cpus: 4,
        memory: '15.GB',
        time: '1.h'
    ]
}

params {
    config_profile_name        = 'Test profile'
    config_profile_description = 'Minimal test dataset to check pipeline function'

    // Input data
    input = 'https://github.com/nf-core/test-datasets/raw/rangeland/Landsat_collection2/Landsat_data.tar.gz'
    dem   = 'https://github.com/nf-core/test-datasets/raw/rangeland/dem/dem.tar.gz'
    wvdb  = 'https://github.com/nf-core/test-datasets/raw/rangeland/wvp/wvdb.tar.gz'

    data_cube = 'https://github.com/nf-core/test-datasets/raw/rangeland/datacube/datacube-definition.prj'
    aoi       = 'https://github.com/nf-core/test-datasets/raw/rangeland/vector/aoi.gpkg'
    endmember = 'https://github.com/nf-core/test-datasets/raw/rangeland/endmember/hostert-2003.txt'

    // Remote sensing imagery parameters
    start_date = '1987-01-01'
    end_date   = '1989-12-31'

    sensors_level2 = 'LND04 LND05'

    // Other parameters
    group_size = 10

    // enable mosaic visualization
    mosaic_visualization  = true
}

process {
    withName: "UNTAR_*" {
        ext.args2   = "--strip-components=0"
    }
}
